# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependency directories
node_modules/
dist/
dist-ssr/

# Environment files
.env
.env.*.local
*.local

# Python venv or conda
venv/
.venv/
env/
.envrc
*.env
*.conda
*.ipynb_checkpoints

# Python cache
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pdb

# VSCode and other IDE settings
.vscode/
!.vscode/extensions.json
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
.DS_Store

# OS and editor clutter
Thumbs.db
ehthumbs.db
